:root{
    --bg-colors: #FFE8C5 ;
    --primary-color: #FFA27F;
    --second-color: #97BE5A;
    --font-color: #FF0000; 
}

.cabecalho{
    background-color: var(--bg-colors);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--primary-color);
}

*{
    font-weight: 400;
}

body{
    color: var(--second-color);
    background-color: var(--bg-colors);
    font-family: var(--fonte que eu vou criar depois);
}

nav a{
    text-decoration: none;
    color: var(--bg-colors);
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(0.9);
    transition: transform 0.1s ;

}